extends ../template

block variables
    - var title = 'Главная'
    - var contactForm = false

block content
    main.main
        section.section.benefits
            .container.benefits__container 
                .section__heading.benefits__heading 
                    h2.section__title.section__title_upper преимущества рекламного агентства полного цикла
                .section__content.benefits__content
                    .benefits__item
                        .benefits__item-img-box
                            svg.benefits__logo(width="70" height="70")
                                use(xlink:href="assets/images/sprite.svg#benefits-item-icon-1")
                        h3.benefits__item-title От 3 дней
                        p.benefits__item-text Срок изготовления заказа после обработки вашей заявки (интерьерная реклама)
                    .benefits__item
                        .benefits__item-img-box
                            svg.benefits__logo(width="70" height="70")
                                use(xlink:href="assets/images/sprite.svg#benefits-item-icon-2")
                        h3.benefits__item-title От 3 дней
                        p.benefits__item-text Срок изготовления заказа после обработки вашей заявки (наружная реклама)
                    .benefits__item
                        .benefits__item-img-box
                            svg.benefits__logo(width="70" height="70")
                                use(xlink:href="assets/images/sprite.svg#benefits-item-icon-3")
                        h3.benefits__item-title 3 часа
                        p.benefits__item-text Среднее время подготовки дизайн макета после обработки вашей заявки
                    .benefits__item
                        .benefits__item-img-box
                            svg.benefits__logo(width="70" height="70")
                                use(xlink:href="assets/images/sprite.svg#benefits-item-icon-4")
                        h3.benefits__item-title Архив дизайна
                        p.benefits__item-text Даже если вы захотите продублировать заказ, либо сделать новый на основе старого дизайн макета, вам не нужно будет искать исходные файлы. Мы все сохраним за вас.
                    .benefits__item
                        .benefits__item-img-box
                            svg.benefits__logo(width="70" height="70")
                                use(xlink:href="assets/images/sprite.svg#benefits-item-icon-5")
                        h3.benefits__item-title Высокотехнологичное оборудование 
                        p.benefits__item-text На нашем производстве применяются самые эффективные и современные технологии в области наружной рекламы
                    .benefits__item
                        .benefits__item-img-box
                            svg.benefits__logo(width="70" height="70")
                                use(xlink:href="assets/images/sprite.svg#benefits-item-icon-6")
                        h3.benefits__item-title Собственное производство
                        p.benefits__item-text Контроль качества на каждом этапе работ, что позволяет нам отслеживать недостатки и устранять их в срок. А также мы не пользуемся услугами субподрядчиков, благодаря чему, мы можем предложить лучшую цену без агентских накруток
                .benefits__btn-box 
                    a(href="#").benefits__link-btn.general__btn.general__btn_40 Бесплатная консультация
        section.section.our-clients
            .container.our-clients__container 
                .section__heading.our-clients__heading 
                    h2.section__title.our-clients__title Наши клиенты
                .section__content.our-clients__content
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-1.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-2.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-1.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-2.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-1.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-2.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-1.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-2.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-1.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-2.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-1.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-2.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-1.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-2.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-1.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-2.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-1.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-2.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-1.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-2.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-1.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-2.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-1.png" alt="Фирменный логотип клиента")
                    .our-clients__item
                        .our-clients__img-box
                            img.our-clients__img(src="assets/images/our-clients-item-img-2.png" alt="Фирменный логотип клиента")
        section.section.reviews
            .container.reviews__container 
                .section__heading.reviews__heading 
                    h2.section__title.reviews__title Отзывы о нашей работе
                .section__content.reviews__content
                    .reviews__slider-block
                        .swiper.reviews__slider
                            .swiper-wrapper.reviews__slider-wrapper
                                .swiper-slide
                                    .reviews__slide 
                                        .reviews__slide-img-box 
                                            img.reviews__img(src="assets/images/reviews-item-img-1.png", alt="Карточка отзыва")
                                .swiper-slide
                                    .reviews__slide 
                                        .reviews__slide-img-box 
                                            img.reviews__img(src="assets/images/reviews-item-img-1.png", alt="Карточка отзыва")
                                .swiper-slide
                                    .reviews__slide 
                                        .reviews__slide-img-box 
                                            img.reviews__img(src="assets/images/reviews-item-img-1.png", alt="Карточка отзыва")
                                .swiper-slide
                                    .reviews__slide 
                                        .reviews__slide-img-box 
                                            img.reviews__img(src="assets/images/reviews-item-img-1.png", alt="Карточка отзыва")
                                .swiper-slide
                                    .reviews__slide 
                                        .reviews__slide-img-box 
                                            img.reviews__img(src="assets/images/reviews-item-img-1.png", alt="Карточка отзыва")
                                .swiper-slide
                                    .reviews__slide 
                                        .reviews__slide-img-box 
                                            img.reviews__img(src="assets/images/reviews-item-img-1.png", alt="Карточка отзыва")
                                .swiper-slide
                                    .reviews__slide 
                                        .reviews__slide-img-box 
                                            img.reviews__img(src="assets/images/reviews-item-img-1.png", alt="Карточка отзыва")
                                .swiper-slide
                                    .reviews__slide 
                                        .reviews__slide-img-box 
                                            img.reviews__img(src="assets/images/reviews-item-img-1.png", alt="Карточка отзыва")
                            .swiper-button-prev
                                .reviews__btn-prev
                                    svg(width="13" height="22" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M12 21L2 11L12 1" stroke="#57A6E2" stroke-width="2")
                            .swiper-button-next
                                .reviews__btn-next
                                    svg(width="13" height="22" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M1 1L11 11L1 21" stroke="#57A6E2" stroke-width="2")
        section.section.faq
            .container.faq__container 
                .section__heading.faq__heading 
                    h2.section__title.faq__title Частые вопросы
                .section__content.faq__content
                    .accordion-container.faq__accordion
                        .ac
                            .ac-header
                                button.ac-trigger Почему рекламные конструкции нужно заказывать в ПСП?
                            .ac-panel
                                p.ac-text Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        .ac
                            .ac-header
                                button.ac-trigger Какую гарантию вы даете на свои рекламные конструкции?
                            .ac-panel
                                p.ac-text Контроль качества на каждом этапе работ, что позволяет нам отслеживать недостатки и устранять их в срок. А также мы не пользуемся услугами субподрядчиков, благодаря чему, мы можем предложить лучшую цену без агентских накруток
                        .ac
                            .ac-header
                                button.ac-trigger Почему рекламные конструкции нужно заказывать в ПСП?
                            .ac-panel
                                p.ac-text Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        .ac
                            .ac-header
                                button.ac-trigger Какую гарантию вы даете на свои рекламные конструкции?
                            .ac-panel
                                p.ac-text Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        .ac
                            .ac-header
                                button.ac-trigger Почему рекламные конструкции нужно заказывать в ПСП?
                            .ac-panel
                                p.ac-text Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        .ac
                            .ac-header
                                button.ac-trigger Какую гарантию вы даете на свои рекламные конструкции?
                            .ac-panel
                                p.ac-text Lorem ipsum dolor sit amet, consectetur adipiscing elit
