.size-and-price {
	padding: 100px 0 0;
	@include vp-767 {
		padding: 50px 0 0;
	}
	&__wrapper {
		&--bottom {
			width: 100%;
			height: 790px;
			position: relative;
			padding: 60px 0 0;
			@include vp-1023 {
				height: 80vh;
				padding: 1em 0 0;
			}
			@include vp-767 {
				height: 90vh;
			}
		}
	}
	&__container {
		position: relative;
	}
	&__heading {
		margin-bottom: 30px;
		@include vp-767 {
			margin-bottom: 1em;
		}
	}
	&__title {
		width: fit-content;
		margin: 0;
		padding: 0;
	}
	&__columns {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 30px;
		@include vp-767 {
			grid-template-columns: 1fr;
		}
	}
	&__col {
		@include vp-767 {
			justify-self: center;
		}
		&.col-01 {
			padding: 80px 0;
			@include vp-767 {
				padding: 1.2em 0 0 2em;
			}
			@include vp-425 {
				padding: 1em 0 0;
			}
		}
		&.col-02 {
			padding: 40px 30px;
		}
	}
	&__text {
		font-size: 16px;
		line-height: 25px;
		margin: 0 0 30px;
		padding: 0;
	}
	&__lists {
		display: flex;
		@include vp-425 {
			flex-direction: column;
		}
	}
	&__list-wrapper {
		width: 50%;
		@include vp-425 {
			width: 100%;
			&:not(:last-of-type) {
				margin-bottom: 1.5em;
			}
		}
	}
	&__list-title {
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		margin: 0 0 10px 0;
		padding: 0;
	}
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		&-item {
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 5px;
			position: relative;
			padding: 0 0 0 20px;
			&::before {
				content: "";
				display: inline-block;
				margin: 0 5px 4px 0;
				height: 1px;
				width: 13px;
				background-color: $color-default-black;
				position: absolute;
				top: 10px;
				left: 0;
			}
		}
	}
	&__filter {
		&-bg {
			position: absolute;
			top: 145px;
			bottom: 0;
			left: 0;
			right: 0;
		}
		&-nav {
			&-row {
				display: flex;
				align-items: center;
				justify-content: center;
				&:not(:last-child) {
					margin-bottom: 30px;
					@include vp-1023 {
						margin-bottom: 1em;
					}
				}
			}
		}
		&-list {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;
			@include vp-1023 {
				overflow-x: auto;
				padding-bottom: 10px;
			}
			&.list-size & {
				&-item {
					.size-and-price__filter-label {
						padding: 10px;
						&-span {
							font-size: 14px;
							line-height: 20px;
						}
					}
				}
			}
			&-item {
				@include vp-1023 {
					min-width: fit-content;
					text-align: center;
				}
			}
		}
		&-label {
			position: relative;
			padding: 10px 20px;
			cursor: pointer;
			color: $color-suva-grey;
			transition: color $trans-default;
			&:hover & {
				&-span {
					color: $color-curious-blue;
				}
			}
			&-span {
				font-weight: bold;
				font-size: 18px;
				line-height: 20px;
			}
		}
		&-switch {
			position: absolute;
			visibility: hidden;
			opacity: 0;
			user-select: none;
			&:checked + {
				.size-and-price__filter-label-span {
					color: $color-curious-blue;
				}
			}
		}
		&-result {
			margin-top: 20px;
			padding: 20px 0;
			&-block {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			&-total {
				min-width: 208px;
				padding: 5px;
				display: flex;
				justify-content: space-between;
				background: $curious-blue-to-picton-blue;
				border-radius: 25px;
			}
			&-price {
				font-size: 14px;
				line-height: 150%;
				color: $color-default-white;
				align-self: flex-end;
				margin-left: auto;
				padding: 0 10px;
			}
			&-amount {
				display: inline-flex;
				font-size: 30px;
				line-height: 117%;
				color: $color-default-white;
				padding: 0 20px 0 6px;
				&-currency {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					flex: 0 0 34px;
					height: 34px;
					border-radius: 50%;
					border: 2px solid $color-default-white;
					svg {
						display: block;
						width: 100%;
						height: 100%;
						color: $color-default-white;
					}
				}
			}
			&-pic-wrapper {
				padding: 37px 0 0 100px;
				height: 325px;
				@include vp-767 {
					padding: 2em 0 0 2.5em;
				}
				@include vp-425 {
					padding: 1.5em 0 0;
				}
			}
			&-pic-box {
				width: 50%;
				max-width: 470px;
				height: auto;
				display: flex;
				justify-content: center;
				@include vp-425 {
					width: 100%;
				}
			}
			&-pic {
				width: fit-content;
			}
		}
	}
}
